.cover {
  background: rgb(170, 230, 245);
  background-size: cover;
}
.title_shadow {
  text-shadow: 1px 2px 3px #808080;
}
.lh-mid {
  line-height: 2.5;
}
a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}