.cover {
  background-image: url(../img/b105.gif);
}
.title_shadow {
  text-shadow: 2px 2px 3px #808080;
}
.lh-mid {
  line-height: 2.5;
}
a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  text-decoration: none;
  color: #ddd;
}